body {
    background: linear-gradient(to right, #e66465, #9198e5);
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-width: 400px;
    text-align: center;
}

.player {
    padding: 20px;
}

.cover img {
    width: 100%;
    border-radius: 20px 20px 0 0;
    transition: transform 0.3s ease;
}

.cover img:hover {
    transform: scale(1.1);
}

.info {
    margin: 20px 0;
}

.info h2 {
    margin: 0;
    font-size: 24px;
}

.info p {
    margin: 5px 0;
    color: #888;
}

.controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn {
    background: #e66465;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background: #9198e5;
    transform: scale(1.1);
}

input[type="range"] {
    width: 100%;
    margin-top: 10px;
}

.playlist {
    padding: 20px;
    text-align: left;
}

.playlist ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.playlist li {
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.playlist li:hover {
    background: #f0f0f0;
}

.playlist li.active {
    background: #e66465;
    color: white;
  }
